@model SongSystem.Models.SongIndexVm;

@{
    ViewData["Title"] = "Index";
}

<h1>Song list</h1>

<p>
    <a asp-action="Create" class="btn btn-primary" >New song</a>
</p>

<table class="table">
    <thead style="background-color:aliceblue">

            @*<form action="/action_page.php">
                <input type="text" placeholder="Search.." name="search">
                <button type="submit">Submit</button>

            <br />
            <br />
            </form>*@

        <form method="get" asp-action="Index">
            <p>
                <input type="search" placeholder="Enter a keyword..." value="@ViewData["Getemployeedetails"]" name="Empsearch" style="width:300px"/>
                <input type="submit" value="Search" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-primary"> Reset </a>
            </p>
        </form>
            

        <tr>
            <th>(Id) Title</th>
            <th>Artist name</th>
            <th>Length (sec) </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.songs)
         {
         <tr>
            <td>
               @Html.Encode($"({item.Id})")   @Html.DisplayFor(modelItem => item.Title )
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.ArtistName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Length)
            </td>

            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
         }
    </tbody>
</table>

<style>
    body{

    }
</style>
